/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
  
.code {
  background-color: lightblue;
  font-family:'Courier New', Courier, monospace;
  color: white;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  border: solid 1px #ffffff;
}

.back {
  background-image: linear-gradient(rgb(225, 248, 255),#ffffff);
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.image {
  margin-right : 50px;
  width: 500px;
}