/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #eccfcf;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #ffffff;
  background-color: #ffbdbd;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #ffffff;
  background-color: #e7dbdb;
}

.selfie {
  max-height: 500px;
}

#border {
  margin: 10px;
  padding: 10px;
  border: solid 5px #ffffff;
  background-color: #ffbdbd;
}

#bar {
  margin-left: 20px;
}

#selfie {
  margin: 10px;
  max-height: 500px;
  border: solid 5px #ffffff;
  float: left;
}

#text {
  padding: 250px;
  text-align: right;
  font-size: 20px;
}

#margin {
  margin-top: 150px;
  margin-left: 400px;
}

.list {
  list-style-image: url(/img/cherry-flower.png);
}