#output {
    column-width: 200px;
}

html {
    background-color: #3b4268;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 23px;
    font-style: italic;
    font-weight: bold;
    color: #fadfee;
    -webkit-text-stroke: #8e3d50 .1px;
    }

h1 {
    color: #8e3d50;
}

h2 {
    color: #e191ac;
}

#button {
    background-color: #f98eaa;
    font-style: italic;
    font-weight: bold;
}

main {
    background-color: #c3d5c0;
    background-size: cover;
    background-repeat: repeat;
    padding: 15px;
    height: 875px;
}

#input, #output {
    border: solid 1px black;
    padding: 20px;
    background-color: white;
}

section {
    background-color: #c3d5c0;
}